* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    background-color: gray;
    color: white;
}

.result {
    font-size: 5em;
}

.bold {
    font-weight: bolder;
}